<div class="scrollable">
	<div class="scrollable-content section">
		<div class="list-group text-center">
			<div class="list-group-item list-group-item-home">
				<img width="50" height="50" src="images/icici_logo_small.gif"></img>
				<h5>Expense Tracker</h5>
			</div>

			<div class="list-group-item list-group-item-home">
				<ui-state id='activeTab' default='1'></ui-state>
				<ul class="nav nav-tabs">
					<li ui-class="{'active': activeTab == 1}"><a
						ui-set="{'activeTab': 1}" ng-click="ec.pieOrColumn(10,'PIE')">Expense spread (%)</a>
					</li>
					<li ui-class="{'active': activeTab == 2}"><a
						ui-set="{'activeTab': 2}" ng-click="ec.pieOrColumn(10,'COLUMN')">Expense spread (₹)</a>
					</li>
					<li ui-class="{'active': activeTab == 3}"><a
						ui-set="{'activeTab': 3}"
						ng-click="ec.transactionDetails(10,list_category)">Transaction Details</a></li>
				</ul>
				<div ui-if="activeTab == 1">
					<h3 class="page-header">Expense spread (%)</h3>
				</div>

				<div ui-if="activeTab == 2">
					<h3 class="page-header">Expense spread (₹)</h3>
				</div>

				<div ui-if="activeTab == 3">
					<h3 class="page-header">Expense details</h3>
					<div class="form-group has-success has-feedback">
						Select Expense:&nbsp;<select id="sel" class="input-block-level"
							ng-model="list_category"
							ng-options="tranType as tranType for tranType in tranTypes.transactionTypes">
							<option value="">Select an Expense</option>
						</select><br />
						<br />
						<button ng-disabled="form.$invalid || ec.dataLoading"
							class="btn btn-medium btn-success"
							ng-click="ec.transactionDetails(10,list_category)">
							<i class="fa fa-list"></i> Get Details
						</button>
					</div>
				</div>
				<div ng-if="ec.dataLoading">
					<i class="fa fa-spinner fa-pulse fa-2x"></i> <small>Please wait...</small>
				</div>
				<div ng-init="ec.pieOrColumn(10,'PIE');" id="greeting"></div>
				<div ui-if="activeTab == 1 || activeTab == 2" id="columnchart_values" style="width: 100%; height: 300px;"></div>
				<div ui-if="activeTab == 3" id="columnchart_transaction" style="width: 100%; height: 300px;"></div>
			</div>
		</div>
	</div>
</div>