<div class="scrollable">
	<div class="scrollable-content section">
		<div class="list-group">
	      <div class="list-group-item">
	        <h3>Welcome {{ hc.userFirstName }} <br/>
	        <small></small>
	        </h3>
	      </div>
	      <div class="list-group-item media">
	        	<table>
	        		<tr>
	        			<td align="center">
		        			<button type="button" class="btn btn-circle-homescreen">
		        				<i class="fa fa-inr feature-icon fa-3x text-primary"></i>
	        				</button>
	        				Accounts
	        			</td>
	        			<td align="center">
	        				<button type="button" class="btn btn-circle-homescreen">
		        				<i class="fa fa-credit-card feature-icon fa-3x text-primary"></i>
	        				</button>
	        				Cards
	        			</td>
	        			<td align="center">
	        				<button type="button" class="btn btn-circle-homescreen">
		        				<i class="fa fa-inbox feature-icon fa-3x text-primary"></i>
	        				</button>
	        				Loans
	        			</td>
	        		</tr>
	        		<tr>
	        			<td align="center">
	        				<button type="button" class="btn btn-circle-homescreen">
		        				<i class="fa fa-bar-chart feature-icon fa-3x text-primary"></i>
	        				</button>
	        				Investments
	        			</td>
	        			<td align="center">
	        				<button type="button" class="btn btn-circle-homescreen">
		        				<i class="fa fa-heartbeat feature-icon fa-3x text-primary"></i>
	        				</button>
	        				Insurance
	        			</td>
	        			<td align="center" ng-click="hc.expenses()">
	        				<button type="button" class="btn btn-circle-homescreen">
		        				<i class="fa fa-line-chart feature-icon fa-3x text-primary"></i>
	        				</button>
	        				Expenses
	        			</td>
	        		</tr>
	        	</table>
	        	<table align="center">
	        		<tr>
	        			<td align="center" ng-click="hc.salaryInfo()">
	        				<button type="button" class="btn btn-circle-homescreen btn-xl">
		        				<i class="fa fa-dashboard feature-icon fa-3x"></i>
	        				</button>
	        				<h5 class="homeitem">Quick Account Summary</h5>
	        			</td>
	        			<td align="center" ng-click="hc.virtualRM()">
	        				<button type="button" class="btn btn-circle-homescreen btn-xl">
		        				<i class="fa fa-user feature-icon fa-3x"></i>
	        				</button>
	        				<h5 class="homeitem">iAssist</h5>
	        			</td>
	        		</tr>
	        	</table>
	        	<div ui-content-for="modals">
				  <div ng-include="'pages/homenew.html'"></div>
				</div>
	        </div>
	      </div>
	</div>
</div>