<div class="scrollable">
	<div class="scrollable-content section">
		<div class="list-group text-center">
			<div class="list-group-item list-group-item-home">
				<i class="fa fa-sign-out fa-4x"></i>
				<br/>
				<h4>Are you sure ?</h4>
				<br/>
				<br/>
				<button 
					class="btn btn-lg btn-danger btn-block" ng-click="oc.logout()">
					<i class="fa fa-sign-out"></i></i> Logout </button>
				<button 
					class="btn btn-lg btn-primary btn-block" ng-click="oc.cancelLogout()">
					<i class="fa fa-times"></i></i> Cancel </button>
			</div>
		</div>
	</div>
</div>