<script>
	
</script>
<div class="scrollable">
	<div class="scrollable-content section">
		<div class="list-group">
	      <div class="list-group-item">
	        <h4>{{ vc.userFirstName }}, how may I help you ?</h4>
	        <br/>
	        <small><b>Hint:</b> your voice is my command</small>
	      </div>
	      <div class="list-group-item media" align="center">
	      	<div ng-if="vc.dataLoading">
	      		<i class="fa fa-circle-o-notch"></i>
	      	</div>
	      	<br/>
	      	<p id="greeting"></p>
	      	<br/>
	      	<div id="btnspk" class="round-button" ng-click="vc.speakNow()">
	      		<div id="btnspkcircle" class="round-button-circle">
	      			<a id="speakbtn" class="round-button">Speak Now</a>
	      		</div>
	      	</div>
	      </div>
	    </div>
	</div>
</div>